.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter;
    margin: 60px auto;

    .product-section-image {
        border: 1px solid #979797;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        img{
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        img.active{
            opacity: 1;
        }
    }


    .product-section-multiple-images {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        margin-top: 20px;

        .product-section-multiple-thumbnails{
            display: flex;
            align-items: center;
            border: 1px solid #bdc5ce;
            min-height: 66px;
            cursor: pointer;
            &:hover{
                border:1px solid rgba(60, 71, 83, 0.88);
            }
            &.selected{
                border:1px solid rgba(60, 71, 83, 0.88);
            }
        }
    }
}
.product-section-subtitle{
    font-size: 20px;
    font-weight: bold;
    color:$text-color-light;
}
.product-section-title{
    margin-bottom: 5px;
    font-weight: bold;
}
.product-section-price{
    font-size: 40px;
    font-weight: bold;
    color: $text-color;
}
.product-section-info{
    margin-left: 50px;
    p{
        margin-bottom: 16px;
    }
}
