.products-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 60px auto 60px;
    .products {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        margin: 60px $gutter;
        gap: 30px;
    }
}

.products-header{
    display: flex;
    justify-content: space-between;
    div{
        padding-top: 30px;
    }
}


