/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container {
        max-width: 960px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header.with-background, header {
        .top-nav {
            flex-direction: column;

            .logo {
                margin: auto;
            }

            ul {
                margin: 20px auto 0;
            }
        }

        .hero {
            grid-template-columns: 1fr;
            text-align: center;

            .hero-image {
                margin-top: 40px;
                padding-left: 0;
            }
        }
    }
    .featured-section {
        padding: 50px 0;

        .products {
            grid-template-columns: 1fr 1fr;
        }
    }

    .products-section {
        margin: 10px auto 20px;
        .products {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .might-like-section .might-like-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cart-section{
        grid-template-columns: 1fr;
        .have-code-container{
            width: 100%;
        }
    }
    .checkout-section{
        grid-template-columns: 1fr;
        .checkout-table-container{
            margin: 0 10px;
        }
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .featured-section{
        padding: 50px 0;
        .products{
            grid-template-columns: 1fr;
        }
    }
    .blog-section{
        .blog-posts{
            grid-template-columns: 1fr;
            text-align: center;
        }
    }
    footer .footer-content{
        flex-direction: column;
        text-align: center;
        ul{
            padding: 0;
            margin: 20px auto;
            width: 60%;
        }
    }
    .products-section{
        grid-template-columns: 1fr;
        margin: 20px auto 10px;
        .sidebar{
            text-align: center;
        }
        .products{
            grid-template-columns: 1fr;
        }
        .stylish-border{
            text-align: center;
            &:before,&:after{
                width: 0;
            }
        }
    }
    .product-section{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .might-like-section .might-like-grid {
        grid-template-columns: 1fr 1fr;
    }
    .cart-section{
        .cart-buttons{
            flex-direction: column;
            text-align: center;
        }
        .cart-total{
            flex-direction: column;
            .cart-total-left{
                width: 100%;
            }
            .cart-total-right{
                width: 100%;
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 570px) {
    .breadcrumb-container {
        display: block;
        text-align: center;
    }
}

/* Custom, iPhone Retina */

