.button{
    border: 1px solid $text-color;
    padding: 12px 30px;
    color: $text-color;
    &:hover{
        color: white;
        background: lighten(#585c65,40);
        font-weight: bolder;
    }
}
.button-white{
    border: 1px solid $white;
    color:$white !important;
    &:hover{
        color: $text-color !important;
        background: $white !important;
    }
}

.button-container{
    margin: 40px 0 80px;
}
.button-primary{
    border: 1px solid $white;
    color: #5d3f3f;
    background:lighten(#3acbad,20);
    padding: 12px 30px;
    &:hover{
        background:#3acbad;
        color: $text-color;
    }&:disabled{
        background: lighten(#3acbad,20%);
         cursor: not-allowed;
     }
}
