.might-like-section{
    background: $light-gray-background;
    padding: 40px 0 70px;
    h2{
        margin-bottom: 40px;
    }
    .might-like-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: $gutter;
    }
    .might-like-product{
        border: 1px solid #979797;
        border-radius: 5%;
        background: white;
        text-align: center;
        font-weight: 500;
        padding: 20px;
        img{
            width: 80%;
        }
            &:hover {
                color:#344D8E;
            }
    }
}
