header.with-background{
    background: url("/img/simple-background-image.jpg");
    background-size: cover;
    color: white;

    .logo {
        font-weight: bold;
        font-size: 28px;
        padding-top: 10px;
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $gutter;
        padding-top: 20px;
        padding-bottom: 84px;
        .hero-image{
            padding-left: 60px;
        }
        h1{
            font-size: 50px;
            margin-top: 50px;
        }
        p{
            margin:40px 0 68px;
        }
        .button{
            margin-right: 20px;
        }
    }
}

header{
    background: $purple-background;
    .top-nav{
        display: flex;
        justify-content: space-between;
        padding: 48px 0;

        .logo{
            padding-top: 10px;
            font-weight: bold;
            font-size: 28px;
            margin-right: 20px;
            a{
                color: $white;
                &:hover{
                    color:darken($white,10%);
                }
            }
        }
        ul{
            display: flex;
            list-style: none;
            //justify-content: space-between;
            //width: 40%;
            text-transform: uppercase;
            li{
                margin-right: 38px;
                &:last-child{
                    margin-right: 0;
                }
            }
            a{
                color: $white;
                &:hover{
                    color:darken($white,20%)
                }
            }
            .cart-count{
                display: inline-block;
                background: $cart-count;
                color: $text-color;
                border-radius: 50%;
                font-weight: bold;
                font-size: 14px;
                padding: 0 6px;
                margin: 0 4px;
                span{
                    display: inline-block;
                    padding:40% 0;
                }
            }
        }
    }
    .top-nav-left{
        display: flex;
    }

    .top-nav-right{
        display: flex;
        align-items: center;
    }
}


